body {
  height: 100px;
  background-color: black;
  background-image: radial-gradient(
    rgb(19, 187, 216),
    rgba(44, 148, 227, 0.824)
  );
  padding-top: 2rem;
}

.textDivColor {
  color: white !important;
}
